/* SELECTORS */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    padding: 16px;
}
* {
    color: white;
    font-size: 18px;
}
a:not(.place_img) {
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 16px;
}
a.active {
    background-color: #127c55;
    border: 1px solid #127c55;
}
a:hover:not(.active):not(.place_img) {
    background-color: #04AA6D;
    border: 1px solid #127c55;
}
a.place_img {
    text-decoration: none;
}
a.place_img:hover .box {
    border: 1px solid #127c55;
    animation: 2000ms;
}
h1, h2, h3, h4 {
    font-weight: 400;
}
h3 {
    font-size: 24px;
    padding-top: 24px;
    padding-left: 16px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
p {
    margin: 0;
}

/* CLASS */
.absolute_title {
    font-size: 64px;
    position: absolute;
    top: 600px;
    left: 110px;
    background: #121212;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 16px;
}
.border_radius_16 {
    border-radius: 16px;
}
.box {
    background-color:#1e1e1f;
    border: 1px solid #383838;
    box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.25);
    padding: 32px;
    margin: 16px;
    border-radius: 16px;
}
.flex {
    display: flex;
}
.flex_row {
    flex-direction: row;
}
.flex_col {
    flex-direction: column;
}
.hobby_img {
    max-width: 150px;
}
.image_container {
    height: 500px;
    width: auto;
    background-image: url("images/places/caminia.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main_content {
    width: 100%;
}
.space_around {
    justify-content: space-around;
}
.space_between {
    justify-content: space-between;
}
.sidebar {
    width: 25%;
}
  
/* Tablet */
@media only screen and (max-width: 768px) {
    .sidebar {
        width: auto;
    }
    .mb_flex_row {
        flex-direction: row;
    }
    .mb_flex_col {
        flex-direction: column;
    }
}