/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG */
body {
    background-color: #edefed;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: unset;
    color: #fff;
}

b {
    display: block;
    padding-top: 12px;
}

footer {
    text-align: center;
}

/* HEADINGS */
h1 {
    font-size: 32px;
    display: block;
}

h2, .hero span {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    color: #000;
    font-size: 14px;
}

/* COLORS */
.bg-primary-500 {
    background-color: #283547;
}

.bg-primary-400 {
    background-color: #414f5f;
}

.primary-400 {
    color: #414f5f;
}

/* CLASSES */
.logo-container {
    width: 100%;
    padding: 24px 24px 16px;
}

.nav-container {
    width: 100%;
    padding: 12px 24px;
}

.promo {
    text-align: center;
    color: #fff;
    background-color: #f1822e;
    display: block;
    padding: 12px 0;
}

.hero {
    background-image: url('assets/bg-image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.banner img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.carousel, .carousel-grid {
    background-color: #fff;
    padding: 24px;
}

.item {
    box-shadow: 2px 2px 5px #ddd;
    width: 100%;
    border-radius: 16px;
    overflow: hidden; 
}

.item img {
    width: 100%;
    object-fit: cover;
}

.carousel .item, .carousel .item img {
    height: 350px;
}

.carousel-grid .item, .carousel-grid .item img {
    height: 125px;
    max-width: 200px;
}

.carousel-grid .item.badge:after {
    content: "";
    background-image: url('assets/new.png');
    display: inline-block;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 40%;
    left: 65%;
}


/* 
Note:
This CSS document has been written to correctly render the HTML page in two different ways:

1. Flexbox:
Uncomment the "FLEXBOX" block.
Comment out the "DISPLAY INLINE-BLOCK" block.

2. Display inline-block:
Uncomment the "DISPLAY INLINE-BLOCK" block.
Comment out the "FLEXBOX" block.
 */

/* FLEXBOX - START */
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.align-items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-m {
    gap: 24px;
}
.gap-s {
    gap: 16px;
}
.gap-xs {
    gap: 12px;
}
/* FLEXBOX - END */


/* DISPLAY INLINE-BLOCK - START */
/* li {
    display: inline-block;
    padding-right: 12px;
}
main > *:not(.banner) {
    margin-bottom: 24px;
}
.hero {
    display: block;
    text-align: center;
}
h1 {
    padding-top: 40px;
}
.hero span {
    display: block;
}
h2, h3 {
    display: inline-block;
    margin-bottom: 24px;
}
h4 {
    padding-top: 8px;
}
strong {
    padding-left: 16px;
}
.carousel .item, .carousel-grid {
    display: inline-block;
    width: 24%;
}
.carousel .item:not(:last-of-type) {
    margin-right: 0.66%;
}
.carousel-grid .row {
    padding-bottom: 16px;
}
.carousel-grid .col {
    display: inline-block;
    width: 49%;
}
.carousel-grid:not(:last-of-type) {
    margin-right: 1%;
}
.carousel-grid .col:not(:last-of-type) {
    margin-right: 0.45%;
}
.banner div {
    text-align: center;
    padding-top: 12px;
} */
/* DISPLAY INLINE-BLOCK - END */


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .mb-col {
        flex-direction: column;
    }
    
    .mb-row {
        flex-direction: row;
    }

    .carousel-grid .item.badge:after {
        left: 75%;
    }
    
}
